<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy - Livraison de nourriture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> 
</head>
<body>

        <main class="inscription-section">
            <h2>Rejoignez Enjoy for Work</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <p>Pour s'inscrire tant que livreur a notre site web remplissez le formulaire ci-dessous :</p>
        <form class="inscription-form" method="post" action="/api/inscription_priv">
            <div class="form-group">
                <label for="nom">Nom <span style="color: red;">*</span></label>
                <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
            </div>
            <div class="form-group">
            <label for="prenom">Prénom <span style="color: red;">*</span></label>
            <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>
            </div>

            <div class="form-group">
                <label for="numtel">Numéro de téléphone <span style="color: red;">*</span></label>
                <input type="tel" id="numtel" name="numtel" placeholder="Votre numéro" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe <span style="color: red;">*</span></label>
                <div class="password-container">
                    <input type="password" id="mdp" name="mdp" placeholder="Mot de passe" required>
                    <i class="fas fa-eye toggle-password" id="togglePassword"></i>
                </div>
            </div>
        
            <button type="submit" class="btn-submit">S'inscrire</button>
            <p>Vous avez déjà un compte ? <a href="connexion_priv">Connectez-vous ici</a></p>
        </form>

        {% include 'footer.html' %}
        {% include 'scripts.html' %}
</body>
</html>


