<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Restaurants</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> <!-- FontAwesome -->
</head>
<body>
    {% include 'header.html' %}
    <div class="search-header">

        <form method="GET" action="{{ url_for('search_restaurants') }}" class="search-advanced">
            <div class="search-bar">
                <input type="text" name="query" placeholder="Nom ou mot-clé..." value="{{ request.args.get('query', '') }}">
                <input type="number" step="0.01" name="max_price" placeholder="Prix max (€)" value="{{ request.args.get('max_price', '') }}">
                <input type="text" name="location" placeholder="Code postal" value="{{ request.args.get('location', '') }}">
                <input type="number" step="0.1" name="min_rating" placeholder="Note min (1 à 5)" value="{{ request.args.get('min_rating', '') }}">
                <button type="submit">Rechercher</button>
            </div>
        </form>
        
    </div>
    <div class="restaurant-list">
        {% for restaurant in restaurants %}
        <a href="{{ url_for('page_restaurants', idRest=restaurant[0]) }}" class="restaurant-card">
            <img src="{{ url_for('static', filename=restaurant[7].replace('static/', '')) }}" alt="Image du restaurant">
            <div class="restaurant-info">
                <h3>{{ restaurant[1] }}</h3>
                <p>Adresse : {{ restaurant[2] }}</p>
                <p>Statut : {{ restaurant[3] }}</p>
                <p>Frais : {{ restaurant[4] }} €</p>
                <p>
                    <i class="fas fa-star" style="color: gold;"></i> {{ restaurant[6] }} / 5
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
    
    {% include 'footer.html' %}   



   
</body>
</html>
